/*Light Mode CSS*/
.background {
    background-color: #ffffff;
}

.title {
    color: #000000;
}

/*--------------------------------------------------------------------------------------*/

/*Dark Mode CSS*/
.dark-background {
    background-color: #000000;
}

.dark-title {
    color: #ffffff;
}