/*General Format CSS*/
* {
    margin: 0;
    padding: 0;
  }

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 70px;
}

.text-container {
  flex: 1;
  padding: 30px;
}

.picture-container {
  flex: 1;
  padding: 30px;
}

.me-picture {
  width: 325px;
  height: 450px;
}

/*--------------------------------------------------------------------------------------*/

/*Light Mode CSS*/
.title {
    color: #000000;
}

.content {
    color: #333333;
}

.section {
    display: flex;
    text-align: center;
    position: relative;
    margin-bottom: 80px;
    padding-bottom: 40px;
  }
  
  .section::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%; /* Adjust this value to set the starting point of the colored portion */
    transform: translateX(-50%); /* Center the colored portion */
    width: 300px; /* Adjust this value to set the length of the colored portion */
    height: 2px;
    background-color: #FFA69E;
  }

  @media screen and (max-width: 800px) {
    .section {
      flex-direction: column-reverse;
    }
  
    .text-container {
      padding: 0;
      text-align: center;
    }
    
    .picture-container {
      padding: 0;
      text-align: center;
    }
  }

/*--------------------------------------------------------------------------------------*/

/*Dark Mode CSS*/
.dark-title {
    color: #ffffff;
}

.dark-content {
    color: #b9b3b3;
}

.dark-section {
    display: flex;
    text-align: center;
    position: relative;
    margin-bottom: 80px;
    padding-bottom: 40px;
  }
  
.dark-section::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%; /* Adjust this value to set the starting point of the colored portion */
    transform: translateX(-50%); /* Center the colored portion */
    width: 300px; /* Adjust this value to set the length of the colored portion */
    height: 2px;
    background-color: #59c0a8;
}

@media screen and (max-width: 800px) {
  .dark-section {
    flex-direction: column-reverse;
  }

  .text-container {
    padding: 0;
    text-align: center;
  }
  
  .picture-container {
    padding: 0;
    text-align: center;
  }
}

/* Rotating Gradient Section Separator */
/*.dark-section {
    text-align: center;
    position: relative;
    margin-bottom: 80px;
    padding-bottom: 40px;
  
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%; 
      transform: translateX(-50%);
      width: 700px;
      height: 2px;
      background: linear-gradient(
        60deg,
        hsl(224, 85%, 66%),
        hsl(269, 85%, 66%),
        hsl(314, 85%, 66%),
        hsl(359, 85%, 66%),
        hsl(44, 85%, 66%),
        hsl(89, 85%, 66%),
        hsl(134, 85%, 66%),
        hsl(179, 85%, 66%)
      );
      background-size: 300% 300%;
      animation: moveGradient 4s alternate infinite;
    }
  }
  
  @keyframes moveGradient {
    50% {
      background-position: 100% 50%;
    }
  }*/