/*General Format CSS*/
* {
    margin: 0;
    padding: 0;
  }

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 70px;
}

/*--------------------------------------------------------------------------------------*/

/*Light Mode CSS*/
.title {
    color: #000000;
}

.content {
    color: #333333;
}

.section {
    text-align: center;
    position: relative;
    margin-bottom: 80px;
    padding-bottom: 40px;
  }
  
  .section::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%; /* Adjust this value to set the starting point of the colored portion */
    transform: translateX(-50%); /* Center the colored portion */
    width: 700px; /* Adjust this value to set the length of the colored portion */
    height: 2px;
    background-color: #FFA69E;
  }

/*--------------------------------------------------------------------------------------*/

/*Dark Mode CSS*/
.dark-title {
    color: #ffffff;
}

.dark-content {
    color: #b9b3b3;
}

.dark-section {
    text-align: center;
    position: relative;
    margin-bottom: 80px;
    padding-bottom: 40px;
  }
  
  .dark-section::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%; /* Adjust this value to set the starting point of the colored portion */
    transform: translateX(-50%); /* Center the colored portion */
    width: 700px; /* Adjust this value to set the length of the colored portion */
    height: 2px;
    background-color: #59c0a8;
  }
